ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 
XXX
XXX
XXX
HEADER
XXX
XXX
XXX
 */
.heder {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.heder-flex {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-flex {
  display: flex;
  align-items: center;
}
.logo-web {
  padding: 16px 0;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
@media screen and (min-width: 768px) {
  .logo-web {
    padding: 24px 0;
  }
}
.logo-studio {
  color: #2e2f42;
}

.heder-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .heder-list {
    display: flex;
    gap: 40px;

    font-weight: 500;
  }
}
.navigation {
  color: #2e2f42;
  font-weight: 500;
  padding: 24px 0;
  display: block;
}
.first-nav {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-nav::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  border-radius: 2px;

  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
}
.contacts {
  font-style: normal;

  font-weight: 400;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

.info-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #434455;
}
.info-item:focus {
  color: #404bbf;
}
.info-item:hover {
  color: #404bbf;
}
.info {
  color: #434455;
}
@media screen and (min-width: 768px) {
  .info {
    row-gap: 12px;
    justify-content: end;
  }
  .info-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.04em;

    color: #434455;
  }
}
@media screen and (min-width: 1158px) {
  .info {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  .info-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

.info:hover {
  color: #404bbf;
}
.info:focus {
  color: #404bbf;
}
.burger-butt {
  display: flex;
  align-items: center;

  justify-content: end;
  background-color: white;
  border: none;
}
.burger-svg {
  fill: black;
}
@media screen and (min-width: 768px) {
  .burger-butt {
    display: none;
  }
}

/* 
XXX
XXX
XXX
MOBILE MENU
XXX
XXX
XXX
*/

.modal-butt:hover > .close-svg {
  fill: #ffffff;
}
.modal-butt:focus > .close-svg {
  fill: #ffffff;
}
.modal-butt {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt-color {
  background-color: white;
}

.mob-win-nav {
  width: 148px;
  height: 40px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  letter-spacing: 0.02em;

  color: #2e2f42;
}
.mob-nav-color {
  color: #404bbf;
}
.mob-win-ul {
  display: flex;
  flex-direction: column;

  gap: 40px;
}
.modal-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;
}
.modal-gap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-num {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #4d5ae5;
}
.modal-butt:focus {
  border: none;
  background-color: #404bbf;
}
.modal-butt:hover {
  border: none;
  background-color: #404bbf;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-mrg {
  margin-bottom: 48px;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/*
XXX
XXX
XXX
SECTION HERO 
XXX
XXX
XXX
*/
.sec-order {
  margin: auto;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_hero_sec/mobile.jpg);
  max-width: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .sec-order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero_sec/mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .sec-order {
    max-width: 1440px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero_sec/tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .sec-order {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero_sec/tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .sec-order {
    max-width: 1158px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero_sec/desktop.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .sec-order {
    max-width: 1158px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_hero_sec/desktop@2x.jpg);
  }
}

.heder-first {
  max-width: 216px;
  margin: auto;
  line-height: 1.07;
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .heder-first {
    font-size: 56px;
    width: auto;
    min-width: 496px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .heder-first {
    margin-bottom: 48px;
  }
}
.butt-order {
  height: 56px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  display: block;
  line-height: 1.5;
  margin: auto;
  color: white;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt-order:hover {
  color: white;
  background-color: #404bbf;
}

.butt-order:focus {
  color: white;
  background-color: #404bbf;
}
/*
XXX
XXX
XXX
SECOND SECTION
XXX
XXX
XXX
*/

.sec-pdd {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .sec-pdd {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.heder-secondd {
  margin: auto;
  margin-bottom: 72px;
  color: #2e2f42;
  line-height: 1.11;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.sec-benefits {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .sec-benefits {
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .sec-benefits {
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list {
    width: calc((100% - 72px) / 4);
  }
}

.small-card {
  display: none;
}

@media screen and (min-width: 1158px) {
  .small-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
}

.heder-third {
  margin-bottom: 8px;
  color: #2e2f42;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heder-third {
    text-align: left;
  }
}
.prg {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
  transform: translateY(0%);
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .prg {
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .prg {
    width: 264px;
  }
}

/* 
XXX
XXX
XXX
THIRD SECTION
XXX
XXX
XXX
*/
.team-list {
  margin: auto;
  width: 264px;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .team-list {
    width: auto;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    row-gap: 64px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

.artcle {
  justify-content: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;
  background-color: white;
  width: 264px;
}
@media screen and (min-width: 768px) {
  .artcle {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .artcle {
    width: calc((100% - 72px) / 4);
  }
}
.our-team-section {
  background-color: #f4f4fd;
}

.div-team {
  padding: 32px 0;
  text-align: center;
}

.team-card-soc {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-card-item {
  width: 40px;
  height: 40px;
}
.team-card-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-card-svg {
  fill: #f4f4fd;
}

.prg-mrg {
  margin-bottom: 8px;
  width: 264px;
}

.hed-cen {
  text-align: center;
}
/* 
XXX
XXX
XXX
FOURTH SECTION
XXX
XXX
XXX
 */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  row-gap: 48px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 42px;
  }
}
.prtf-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .prtf-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .prtf-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.prtf-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.prtf-item:hover .prg-transist {
  transform: translateY(0%);
}

.prtf-transist {
  transform: translateY(0%);
  position: relative;
  overflow: hidden;
}
.prg-transist {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.prtf-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.heder-thirdd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/*
XXX
XXX
XXX
FOOTER SECTION
XXX
XXX
XXX
*/

.footer-class {
  padding: 96px 0;
  background-color: #2e2f42;
}

@media screen and (min-width: 1158px) {
  .footer-class {
    padding: 100px 0;
  }
}

.footer-div {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 24px;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .footer-div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .footer-div {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1158px) {
  .logo-prg {
    margin-right: 120px;
  }
}
.logo-footer {
  display: inline-block;

  padding: 24px 86px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    padding: 24px 0;
  }
}
.logo-studio-second {
  color: #f4f4fd;
}

.prg-footer {
  color: #f4f4fd;
  width: 288px;
}
@media screen and (min-width: 768px) {
  .prg-footer {
    width: 264px;
  }
}

.footer-media {
  gap: 16px;
}
.footer-prg {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-prg {
    text-align: left;
  }
}
.mob-mrgn {
  margin: auto;
}
@media screen and (min-width: 768px) {
  .mob-mrgn {
    margin: 0%;
  }
}
.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer-form {
    align-items: normal;
    gap: 24px;
    row-gap: 16px;
  }
}

.footer-prg-form {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.footer-form-form {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-form-form {
    flex-direction: row;
  }
}
.footer-form-email {
  gap: 16px;
}

.footer-input::placeholder {
  color: #ffffff;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-butt {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-butt-svg {
  margin-left: 16px;
}

/* 
XXX
XXX
XXX 
MODAL WIN
XXX
XXX
XXX
 */

.is-open.backdrop {
  pointer-events: visible;
  opacity: 1;
}

.backdrop {
  pointer-events: none;
  opacity: 0;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-win {
  padding: 72px 16px 16px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-win {
    padding: 72px 24px 24px 24px;
    min-width: 408px;
    min-height: 584px;
  }
}
.modal-butt {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
  margin-bottom: 8px;
}
.modal-label {
  color: #8e8f99;
  letter-spacing: 0.04em;
  line-height: 1.17;
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}
.modal-name-label {
  position: relative;
}
.name-label-input:focus + .name-label-modal-svg {
  fill: #4d5ae5;
}
.name-label-input:focus {
  border-color: #4d5ae5;
}
.name-label-input {
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  padding-left: 38px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
}
.name-label-input:focus + .name-label-modal-svg {
  fill: #4d5ae5;
}
.name-label-modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.text-area-div {
  margin-bottom: 16px;
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .privacy-label > .label-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  color: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.checkbox-div {
  margin-bottom: 24px;
}
.label-span {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-butt-sub {
  margin: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

/* 
XXX
XXX
XXX
HOVER SECTION
XXX
XXX
XXX
 */

.team-card-link:hover,
.team-card-link:focus {
  background-color: #404bbf;
}
.prg-transist:hover {
  transform: translateY(0%);
}

.navigation:hover {
  color: #404bbf;
  padding: 24px 0;
}

.navigation:focus {
  color: #404bbf;
  padding: 24px 0;
}

.butt-order:hover {
  color: white;
  background-color: #404bbf;
}

.butt-order:focus {
  color: white;
  background-color: #404bbf;
}
.prtf-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.prtf-item:hover .prg-transist {
  transform: translateY(0%);
}
.footer-svg:hover,
.footer-svg:focus {
  background-color: #31d0aa;
}
.modal-butt:hover {
  border: none;
  background-color: #404bbf;
}
.modal-butt:hover > .close-svg {
  fill: #ffffff;
}
.modal-butt:focus > .close-svg {
  fill: #ffffff;
}
.footer-butt:hover {
  background-color: #31d0aa;
}
